
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layouts::header">

</head>

<body>
	<nav th:replace="layouts::navbar"></nav>
	<div class="container"><h3> <em>“Best way to escape from your problems is to solve them.”</em></h3></div>
	<div class="container">
	<!-- <img  th:src="@{/images/GbpietIssueTrackerImage.jpeg}"> -->
	</div>
	<div class="container">
	<p>
	<h5>This project is made to provide a platform for the people of our organization 
	to share the issues they are facing so that they can be resolved by a collaborative effort 
	of all the entities belonging to the same organization.</h5> 
	</p>
	</div>
	<div class="container">
	<p>
	<h5>The extent of this project is the problem base itself.It will be outdated the day
	 people will stop facing problems .The goal is to traverse the gap between the entity 
	 facing the problem and the one solving it while smoothing the process.
	</h5>
	</p>
	</div>
	<hr/>
</body>	
</html>