<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header">
<meta charset="UTF-8">
<title>Issues In Gbpiet </title>
</head>
<body>
<nav th:replace="layouts::navbar"></nav>
  <h3 >Running Issues</h3>
  <div class="row" >
  
  <div class="card col-6" th:each="issue:${allIssues}">
		  
		  <div class="card-header" th:text="${issue.ISSUE_TITLE}">
		   </div>
		  
		 <div class="card-body">
		    <p class="card-text" th:text="${issue.ISSUE_DESCRIPTION}" ></p>
		    <a href="#" class="btn btn-primary">UPVOTE</a>
		  </div>
</div>
</div>
 </body>
</html>
